<!-- Profile form-->

<!-- Profile form-->
<!-- <section class="user-profile-page">
    <div class="px-4 py-5 px-md-5 text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="row gx-lg-5 justify-content-center">
            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="card">
                    <div class="card-body py-5 px-md-5">
                        <div class="d-flex">
                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a href="#" class="nav-link active" id="v-pills-account-tab" data-bs-toggle="pill" data-bs-target="#v-pills-account" type="button" role="tab" aria-controls="v-pills-account" aria-selected="true">Account</a>
                                <a href="#" class="nav-link" id="v-pills-password-tab" data-bs-toggle="pill" data-bs-target="#v-pills-password" type="button" role="tab" aria-controls="v-pills-password" aria-selected="false">Change Password</a>
                                <a href="#" class="nav-link" id="v-pills-orders-tab" data-bs-toggle="pill" data-bs-target="#v-pills-orders" type="button" role="tab" aria-controls="v-pills-orders" aria-selected="false">Orders</a>
                                <a href="#" class="nav-link" id="v-pills-wishlist-tab" data-bs-toggle="pill" data-bs-target="#v-pills-wishlist" type="button" role="tab" aria-controls="v-pills-wishlist" aria-selected="false">Wishlist</a>
                                <a href="#" class="nav-link" id="v-pills-address-tab" data-bs-toggle="pill" data-bs-target="#v-pills-address" type="button" role="tab" aria-controls="v-pills-address" aria-selected="false">Address</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mb-5 mb-lg-0">
                <div class="card">
                    <div class="card-body py-5 px-md-5">
                        <div class="tab-content" id="v-pills-tabContent">
                            
                            <div class="tab-pane fade show active" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                                <form id="update_profile" action="/user/EditProfile" method="post">
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <h3 class="text-capitalize" id="username">
                                                    <%= user.firstName %> <%= user.lastName %>
                                                </h3>
                                                <p>Update Profile</p>
                                            </div>
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label for="firstName" class="form-label text-left">First Name</label>
                                                <input name="firstName" type="text" class="form-control" id="firstName" placeholder="First Name" value="<%= user.firstName %>">
                                                <small class="text-danger"></small>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label for="lastName" class="form-label text-left">Last Name</label>
                                                <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name" value="<%= user.lastName %>">
                                                <small class="text-danger"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label for="email" class="form-label text-left">Email</label>
                                        <input name="email" type="email" class="form-control" id="email" value="<%= user.email %>" placeholder="example@gmail.com" disabled>
                                        <small class="text-danger"></small>
                                    </div>
                                    <div class="flex-c-m">
                                        <button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">Update</button>
                                    </div>
                                </form>
                            </div>
                        
                            <div class="tab-pane fade" id="v-pills-password" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-md-12 mb-4">
                                        <div class="form-outline">
                                            <h3 class="text-capitalize">

                                                Change Password
                                            </h3>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                             
                                <form id="changePasswordForm" action="/user/changePassword" method="POST">
                                    <div class="form-outline mb-4">
                                        <label for="currentPassword" class="form-label text-left">Current
                                            Password</label>
                                        <input name="currentPassword" type="password" class="form-control"
                                            id="currentPassword" required>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label for="newPassword" class="form-label text-left">New Password</label>
                                        <input name="newPassword" type="password" class="form-control" id="newPassword"
                                            required>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label for="confirmPassword" class="form-label text-left">Confirm
                                            Password</label>
                                        <input name="confirmPassword" type="password" class="form-control"
                                            id="confirmPassword" required>
                                    </div>
                                    <div class="flex-c-m">
                                        <button type="submit"
                                            class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">Confirm</button>
                                    </div>
                                </form>

                            </div>
                  
                            <div class="tab-pane fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-md-12 mb-4">
                                        <div class="form-outline">
                                            <h3 class="text-capitalize">My Orders</h3>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-xl-12 m-lr-auto m-b-50">
                                        <div class="wrap-table-shopping-cart">
                                            <table class="table-shopping-cart">
                                                <tr class="table_head">
                                                    <th class="column-1">Order ID</th>
                                                    <th class="column-2">Date</th>
                                                    <th class="column-3">Status</th>
                                                    <th class="column-4">Total</th>
                                                    <th class="column-5">Action</th>
                                                </tr>
                                                <tr class="table_row">
                                                    <td class="column-1">#234234</td>
                                                    <td class="column-2">01/02/2024</td>
                                                    <td class="column-3">Processing</td>
                                                    <td class="column-4">$250.00</td>
                                                    <td class="column-5">
                                                        <a href="#" class="table-button">View</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="tab-pane fade" id="v-pills-wishlist" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-md-12 mb-4">
                                        <div class="form-outline">
                                            <h3 class="text-capitalize">Wishlist</h3>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-xl-12 m-lr-auto m-b-50">
                                        <div class="wrap-table-shopping-cart">
                                            <table class="table-shopping-cart">
                                                <tr class="table_head">
                                                    <th class="column-1">Product</th>
                                                    <th class="column-2"></th>
                                                    <th class="column-3">Price</th>
                                                    <th class="column-4"></th>
                                                    <th class="column-5">Actions</th>
                                                </tr>
                                                <tr class="table_row">
                                                    <td class="column-1">
                                                        <div class="how-itemcart1">
                                                            <img src="images/item-cart-04.jpg" alt="IMG">
                                                        </div>
                                                    </td>
                                                    <td class="column-2">Fresh Strawberries</td>
                                                    <td class="column-3">$36.00</td>
                                                    <td class="column-4"></td>
                                                    <td class="column-5">
                                                        <a href="#" class="table-button">View</a>
                                                        <a href="#" class="table-button">Remove</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="tab-pane fade" id="v-pills-address" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-md-12 mb-4">
                                        <div class="form-outline">
                                            <h3 class="text-capitalize">Saved Addresses</h3>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-xl-12 m-lr-auto m-b-50">
                                        <div class="wrap-table-shopping-cart">
                                            <table class="table-shopping-cart">
                                                <tr class="table_head">
                                                    <th class="column-1">Address</th>
                                                    <th class="column-2">City</th>
                                                    <th class="column-3">State</th>
                                                    <th class="column-4">Country</th>
                                                    <th class="column-5">Action</th>
                                                </tr>
                                                <tr class="table_row">
                                                    <td class="column-1">123 Main St</td>
                                                    <td class="column-2">Anytown</td>
                                                    <td class="column-3">CA</td>
                                                    <td class="column-4">USA</td>
                                                    <td class="column-5">
                                                        <a href="#" class="table-button">Edit</a>
                                                        <a href="#" class="table-button">Remove</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-4">
                                        <div class="form-outline">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAddressModal">Add New Address</button>
                                        </div>
                                    </div>
                                </div>
                           
                                <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addAddressModalLabel">Add New Address</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="addAddressForm" action="/user/addAddress" method="post">
                                                    <div class="form-outline mb-4">
                                                        <label for="address" class="form-label text-left">Address</label>
                                                        <input name="address" type="text" class="form-control" id="address" required>
                                                    </div>
                                                    <div class="form-outline mb-4">
                                                        <label for="city" class="form-label text-left">City</label>
                                                        <input name="city" type="text" class="form-control" id="city" required>
                                                    </div>
                                                    <div class="form-outline mb-4">
                                                        <label for="state" class="form-label text-left">State</label>
                                                        <input name="state" type="text" class="form-control" id="state" required>
                                                    </div>
                                                    <div class="form-outline mb-4">
                                                        <label for="country" class="form-label text-left">Country</label>
                                                        <input name="country" type="text" class="form-control" id="country" required>
                                                    </div>
                                                    <div class="flex-c-m">
                                                        <button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">Save</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="pt-150 pb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 m-auto">
        <div class="row">
          <div class="col-md-4">
            <div class="dashboard-menu">
              <ul class="nav flex-column" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="dashboard-tab"
                    data-bs-toggle="tab"
                    href="#dashboard"
                    role="tab"
                    aria-controls="dashboard"
                    aria-selected="false"
                    ><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="orders-tab"
                    data-bs-toggle="tab"
                    href="#orders"
                    role="tab"
                    aria-controls="orders"
                    aria-selected="false"
                    ><i class="fi-rs-shopping-bag mr-10"></i>Orders</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="track-orders-tab"
                    data-bs-toggle="tab"
                    href="#track-orders"
                    role="tab"
                    aria-controls="track-orders"
                    aria-selected="false"
                    ><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your
                    Order</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="address-tab"
                    data-bs-toggle="tab"
                    href="#address"
                    role="tab"
                    aria-controls="address"
                    aria-selected="true"
                    ><i class="fi-rs-marker mr-10"></i>My Address</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="account-detail-tab"
                    data-bs-toggle="tab"
                    href="#account-detail"
                    role="tab"
                    aria-controls="account-detail"
                    aria-selected="true"
                    ><i class="fi-rs-user mr-10"></i>Account details</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout"
                    ><i class="fi-rs-sign-out mr-10"></i>Logout</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="tab-content dashboard-content">
              <div
                class="tab-pane fade active show"
                id="dashboard"
                role="tabpanel"
                aria-labelledby="dashboard-tab"
              >
                <div class="card">
                  <div class="card-header">
                    <h5 class="mb-0">
                      Hello <%= user.firstName %> <%= user.lastName %>
                    </h5>
                  </div>
                  <div class="card-body">
                    <p>
                      From your account dashboard. you can easily check &amp;
                      view your <a href="#">recent orders</a>, manage your
                      <a href="#">shipping and billing addresses</a> and
                      <a href="#">edit your password and account details.</a>
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="orders"
                role="tabpanel"
                aria-labelledby="orders-tab"
              >
                <div class="card">
                  <div class="card-header">
                    <h5 class="mb-0">Your Orders</h5>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Total</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>#1357</td>
                            <td>March 45, 2020</td>
                            <td>Processing</td>
                            <td>$125.00 for 2 item</td>
                            <td>
                              <a href="#" class="btn-small d-block">View</a>
                            </td>
                          </tr>
                          <tr>
                            <td>#2468</td>
                            <td>June 29, 2020</td>
                            <td>Completed</td>
                            <td>$364.00 for 5 item</td>
                            <td>
                              <a href="#" class="btn-small d-block">View</a>
                            </td>
                          </tr>
                          <tr>
                            <td>#2366</td>
                            <td>August 02, 2020</td>
                            <td>Completed</td>
                            <td>$280.00 for 3 item</td>
                            <td>
                              <a href="#" class="btn-small d-block">View</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="track-orders"
                role="tabpanel"
                aria-labelledby="track-orders-tab"
              >
                <div class="card">
                  <div class="card-header">
                    <h5 class="mb-0">Orders tracking</h5>
                  </div>
                  <div class="card-body contact-from-area">
                    <p>
                      To track your order please enter your OrderID in the box
                      below and press "Track" button. This was given to you on
                      your receipt and in the confirmation email you should have
                      received.
                    </p>
                    <div class="row">
                      <div class="col-lg-8">
                        <form
                          class="contact-form-style mt-30 mb-50"
                          action="#"
                          method="post"
                        >
                          <div class="input-style mb-20">
                            <label>Order ID</label>
                            <input
                              name="order-id"
                              placeholder="Found in your order confirmation email"
                              type="text"
                              class="square"
                            />
                          </div>
                          <div class="input-style mb-20">
                            <label>Billing email</label>
                            <input
                              name="billing-email"
                              placeholder="Email you used during checkout"
                              type="email"
                              class="square"
                            />
                          </div>
                          <button
                            class="submit submit-auto-width"
                            type="submit"
                          >
                            Track
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="address"
                role="tabpanel"
                aria-labelledby="address-tab"
              >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card mb-3 mb-lg-0">
                      <div class="card-header">
                        <h5 class="mb-0">Billing Address</h5>
                      </div>
                      <div class="card-body">
                        <address>
                          3522 Interstate<br />
                          75 Business Spur,<br />
                          Sault Ste. <br />Marie, MI 49783
                        </address>
                        <p>New York</p>
                        <a href="#" class="btn-small">Edit</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="mb-0">Shipping Address</h5>
                      </div>
                      <div class="card-body">
                        <address>
                          4299 Express Lane<br />
                          Sarasota, <br />FL 34249 USA <br />Phone:
                          1.941.227.4444
                        </address>
                        <p>Sarasota</p>
                        <a href="#" class="btn-small">Edit</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="account-detail"
                role="tabpanel"
                aria-labelledby="account-detail-tab"
              >
                <div class="card">
                  <div class="card-header">
                    <h5>Account Details</h5>
                  </div>
                  <div class="card-body">
                    <form
                      id="changePasswordForm"
                      action="/user/updateUser"
                      method="POST"
                    >
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="firstName" class="form-label text-left"
                            >First Name</label
                          >
                          <input
                            name="firstName"
                            type="text"
                            class="form-control"
                            id="firstName"
                            placeholder="First Name"
                            value="<%= user.firstName %>"
                          />
                          <small class="text-danger"></small>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="lastName" class="form-label text-left"
                            >Last Name</label
                          >
                          <input
                            name="lastName"
                            type="text"
                            class="form-control"
                            id="lastName"
                            placeholder="Last Name"
                            value="<%= user.lastName %>"
                          />
                          <small class="text-danger"></small>
                        </div>
                        <div class="form-group col-md-12">
                          <label for="email" class="form-label text-left"
                            >Email</label
                          >
                          <input
                            name="email"
                            type="email"
                            class="form-control"
                            id="email"
                            value="<%= user.email %>"
                            placeholder="example@gmail.com"
                            disabled
                          />
                          <small class="text-danger"></small>
                        </div>
                        <div class="form-group col-md-12">
                          <label
                            for="currentPassword"
                            class="form-label text-left"
                            >Current Password</label
                          >
                          <div class="input-group">
                            <input
                              name="currentPassword"
                              type="password"
                              class="form-control"
                              id="currentPassword"
                              required
                            />
                            <div class="input-group-append">
                              <span
                                class="input-group-text"
                                onclick="togglePasswordVisibility('currentPassword')"
                                ><i class="fa fa-eye"></i
                              ></span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-md-12">
                          <label for="newPassword" class="form-label text-left"
                            >New Password</label
                          >
                          
                            <input
                              name="newPassword"
                              type="password"
                              class="form-control"
                              id="newPassword"
                              required
                            />
                            <div class="input-group-append">
                              <span
                                class="input-group-text"
                                onclick="togglePasswordVisibility('newPassword')"
                                ><i class="fa fa-eye"></i
                              ></span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-md-12">
                          <label
                            for="confirmPassword"
                            class="form-label text-left"
                            >Confirm Password</label
                          >
                          <div class="input-group">
                            <input
                              name="confirmPassword"
                              type="password"
                              class="form-control"
                              id="confirmPassword"
                              required
                            />
                            <div class="input-group-append">
                              <span
                                class="input-group-text"
                                onclick="togglePasswordVisibility('confirmPassword')"
                                ><i class="fa fa-eye"></i
                              ></span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button
                            type="submit"
                            class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
                          >
                            Update
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Address</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <input type="text" placeholder="Name" class="form-control mb-2" />

          <input type="text" placeholder="Address" class="form-control mb-2" />
          <input
            type="text"
            placeholder="House Name"
            class="form-control mb-2"
          />
          <input type="text" placeholder="Street" class="form-control mb-2" />
          <input type="text" placeholder="Zip code" class="form-control mb-2" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> <!-- Include SweetAlert2 -->

<script>
    document.getElementById('changePasswordForm').addEventListener('submit', function (e) {
        e.preventDefault(); // Prevent form submission

        const firstName = document.getElementById('firstName').value;
        const lastName = document.getElementById('lastName').value;
        const currentPassword = document.getElementById('currentPassword').value;
        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        if (newPassword !== confirmPassword) {
            Swal.fire({
                icon: 'error',
                title: 'Validation Error',
                text: 'New passwords do not match',
            });
            return; // Exit function to prevent further execution
        }

        // Optional client-side validation for password complexity
        if (newPassword.length < 8 || !/[A-Z]/.test(newPassword) || !/[0-9]/.test(newPassword)) {
            Swal.fire({
                icon: 'error',
                title: 'Validation Error',
                text: 'New password must be at least 8 characters long and contain at least one uppercase letter and one digit',
            });
            return; // Exit function to prevent further execution
        }

        // If all validations pass, submit the form using AJAX
        fetch('/user/updateUser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ firstName, lastName, currentPassword, newPassword, confirmPassword }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: data.message,
                }).then(() => {
                    // Optionally refresh the page after success
                    window.location.href ="/user/dashboard"; // Refresh the page
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.message,
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Server Error',
                text: 'An error occurred while changing the password',
            });
        });
    });

    function togglePasswordVisibility(fieldId) {
        const field = document.getElementById(fieldId);
        const icon = field.nextElementSibling.querySelector('i');
        if (field.type === 'password') {
            field.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            field.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }
</script>

