<section class="mt-50 mb-50">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="shop-product-fillter">
                    <div class="totall-product">
                        <p> We found <strong class="text-brand"><%=productCount %></strong> items for you!</p>
                    </div>

                    <div class="sort-by-product-area">
                        <div class="sort-by-cover">
                            <div class="sort-by-product-wrap">
                                <div class="sort-by">
                                    <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                </div>
                                <div class="sort-by-dropdown-wrap">
                                    <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                </div>
                            </div>
                            <div class="sort-by-dropdown">
                                <ul>
                                    <li><a class="active" href="#">Featured</a></li>
                                    <li><a href="#">Price: Low to High</a></li>
                                    <li><a href="#">Price: High to Low</a></li>
                                    <li><a href="#">Release Date</a></li>
                                    <li><a href="#">Avg. Rating</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row product-grid-3">
                    <% products.filter(product=> product.isActive).forEach (product=>{ %>
                        <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a>
                                        <img src="/uploads/products-images/crp/<%- product.primaryImages[0] ? product.primaryImages[0].name : product.secondaryImages[0].name %>" alt="IMG-PRODUCT" />
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label="Quick view" class="action-btn hover-up" href="/shop/quickView/<%- product._id %>" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                          <i class="fi-rs-eye"></i>
                                        </a>
                                        <% if (user && user.wishlist) { %> 
                                          <% let isInWishlist = user.wishlist.some(item => item.toString() === product._id.toString()); %>
                                          <% if (isInWishlist) { %>
                                            <a aria-label="Remove From Wishlist" class="action-btn hover-up wishlist-btn active" data-product-id="<%- product._id %>">
                                              <i class="fi-rs-heart-filled"></i>
                                            </a>
                                          <% } else { %>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up wishlist-btn" data-product-id="<%- product._id %>">
                                              <i class="fi-rs-heart"></i>
                                            </a>
                                          <% } %>
                                        <% } else { %>
                                          <a aria-label="Add To Wishlist" class="action-btn hover-up wishlist-btn" data-product-id="<%- product._id %>">
                                            <i class="fi-rs-heart"></i>
                                          </a>
                                        <% } %>
                                      </div>
                                    <!-- <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">Hot</span>
                                    </div> -->
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                    <a href="shop-grid-right.html"><%= product.category.name %></a>
                                    </div>
                                    <h2>
                                    <a href="/shop/productDetails/<%- product._id %>"><%= product.product_name %></a>
                                    </h2>
                                    <div class="rating-result" title="90%">
                                        <span>
                                            <span>90%</span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span>$<%= product.price %>.00</span>
                                        <span class="old-price">$<%= product.oldPrice %>.00</span>
                                      </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="/cart/add"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <!--pagination-->
                <% if (products.length > 0 && (nextPage || current == pages)) { %>
                    <nav aria-label="Dashboard pagination">
                        <ul class="pagination justify-content-center mt-5">
                            <% if (current == 1) { %>
                                <li class="page-item disabled"><a href="#" class="page-link">First</a></li>
                            <% } else { %>
                                <li class="page-item"><a href="/allProducts/?page=1" class="page-link">First</a></li>
                            <% } %>
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if (i !== 1) { %>
                                <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
                            <% } %>
                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                <% if (i == current) { %>
                                    <li class="page-item disabled"><a href="#" class="page-link"><%= i %></a></li>
                                <% } else { %>
                                    <li class="page-item"><a href="/allProducts?page=<%= i %>" class="page-link"><%= i %></a></li>
                                <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                                <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
                            <% } %>
                            <% } %>
                            <% if (current == pages) { %>
                                <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
                            <% } else { %>
                                <li class="page-item"><a href="/allProducts/?page=<%= pages %>" class="page-link">Last</a></li>
                            <% } %>
                        </ul>
                    </nav>
                   <% } %> 
            </div>
            <div class="col-lg-3 primary-sidebar sticky-sidebar">
                <div class="widget-category mb-30">
                    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                    <ul class="categories">
                        <% categories.forEach(category => { %>
                            <li><a href="shop-grid-right.html"><%= category.name %></a></li>
                        <% }) %>
                    </ul>
                </div>
                <!-- Fillter By Price -->
                <div class="sidebar-widget price_range range mb-30">
                    <div class="widget-header position-relative mb-20 pb-10">
                        <h5 class="widget-title mb-10">Fill by price</h5>
                        <div class="bt-1 border-color-1"></div>
                    </div>
                    <div class="price-filter">
                        <div class="price-filter-inner">
                            <div id="slider-range"></div>
                            <div class="price_slider_amount">
                                <div class="label-input">
                                    <span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item mb-10 mt-10">
                            <label class="fw-900 mt-15">Processors (CPU)</label>
                            <div class="custome-checkbox">
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                                <label class="form-check-label" for="exampleCheckbox11"><span>i3</span></label>
                                <br>
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox21" value="">
                                <label class="form-check-label" for="exampleCheckbox21"><span>i5</span></label>
                                <br>
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                                <label class="form-check-label" for="exampleCheckbox31"><span>i7</span></label>
                                <br>
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                                <label class="form-check-label" for="exampleCheckbox31"><span>i9</span></label>
                            </div>
                            <label class="fw-900">RAM</label>
                            <div class="custome-checkbox">
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                <label class="form-check-label" for="exampleCheckbox1"><span>4GB</span></label>
                                <br>
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox2" value="">
                                <label class="form-check-label" for="exampleCheckbox2"><span>6GB</span></label>
                                <br>
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                <label class="form-check-label" for="exampleCheckbox3"><span>8GB</span></label>
                                <br>
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox4" value="">
                                <label class="form-check-label" for="exampleCheckbox4"><span>16GB</span></label>
                                <br>
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox5" value="">
                                <label class="form-check-label" for="exampleCheckbox5"><span>32GB</span></label>
                            </div>
                            <label class="fw-900 mt-15">Hard disk</label>
                            <div class="custome-checkbox">
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                                <label class="form-check-label" for="exampleCheckbox11"><span>NVMe drive</span></label>
                                <br>
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox21" value="">
                                <label class="form-check-label" for="exampleCheckbox21"><span>SSD</span></label>
                                <br>
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                                <label class="form-check-label" for="exampleCheckbox31"><span>HDD</span></label>
                            </div>
                        </div>
                    </div>
                    <a href="shop-grid-right.html" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Fillter</a>
                </div>
                <!-- Product sidebar Widget -->
                <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                    <div class="widget-header position-relative mb-20 pb-10">
                        <h5 class="widget-title mb-10">New products</h5>
                        <div class="bt-1 border-color-1"></div>
                    </div>
                    <div class="single-post clearfix">
                        <div class="image">
                            <img src="assets/imgs/shop/thumbnail-3.jpg" alt="#">
                        </div>
                        <div class="content pt-10">
                            <h5><a href="shop-product-detail.html">Chen Cardigan</a></h5>
                            <p class="price mb-0 mt-5">$99.50</p>
                            <div class="product-rate">
                                <div class="product-rating" style="width:90%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="single-post clearfix">
                        <div class="image">
                            <img src="assets/imgs/shop/thumbnail-4.jpg" alt="#">
                        </div>
                        <div class="content pt-10">
                            <h6><a href="shop-product-detail.html">Chen Sweater</a></h6>
                            <p class="price mb-0 mt-5">$89.50</p>
                            <div class="product-rate">
                                <div class="product-rating" style="width:80%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="single-post clearfix">
                        <div class="image">
                            <img src="assets/imgs/shop/thumbnail-5.jpg" alt="#">
                        </div>
                        <div class="content pt-10">
                            <h6><a href="shop-product-detail.html">Colorful Jacket</a></h6>
                            <p class="price mb-0 mt-5">$25</p>
                            <div class="product-rate">
                                <div class="product-rating" style="width:60%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-img wow fadeIn mb-45 animated d-lg-block d-none">
                    <img src="assets/imgs/banner/banner-11.jpg" alt="">
                    <div class="banner-text">
                        <span>Women Zone</span>
                        <h4>Save 17% on <br>Office Dress</h4>
                        <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.querySelectorAll(".wishlist-btn").forEach((button) => {
          button.addEventListener("click", function (e) {
            e.preventDefault();
            const productId = this.getAttribute("data-product-id");
            const isWished = this.classList.contains("wished");
            const url = isWished ? "/wishlist/remove" : "/wishlist/add";
            const confirmMessage = isWished
              ? "Do you want to remove this product from your wishlist?"
              : "Do you want to add this product to your wishlist?";
    
            // Show confirmation message with SweetAlert2
            Swal.fire({
              title: confirmMessage,
              icon: "question",
              showCancelButton: true,
              confirmButtonText: "Yes",
              cancelButtonText: "No",
            }).then((result) => {
              if (result.isConfirmed) {
                // Send a request to add or remove the product to/from the wishlist
                fetch(url, {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({ productId }),
                })
                  .then((response) => response.json())
                  .then((data) => {
                    if (data.success) {
                      // Change heart icon color and state
                      const heartIcon = this.querySelector("i.fi-rs-heart");
                      if (isWished) {
                        this.classList.remove("wished");
                        heartIcon.style.color = ""; // Remove heart icon color
                      } else {
                        this.classList.add("wished");
                        heartIcon.style.color = "red"; // Set heart icon color to red
                      }
                      // Show success message
                      Swal.fire({
                        title: "Success!",
                        text: data.message,
                        icon: "success",
                        confirmButtonText: "OK",
                      });
                    } else {
                      // Show error message
                      Swal.fire({
                        title: "Error!",
                        text: "Please log in to perform this action.",
                        icon: "error",
                        showCancelButton: true,
                        confirmButtonText: "Login",
                        cancelButtonText: "Cancel",
                      }).then((result) => {
                        if (result.isConfirmed) {
                          // Redirect to login page
                          window.location.href = "/login";
                        }
                      });
                    }
                  })
                  .catch((error) => {
                    console.error("Error:", error);
                    // Show error message
                    Swal.fire({
                      title: "Error!",
                      text: "An error occurred",
                      icon: "error",
                      confirmButtonText: "OK",
                    });
                  });
              }
            });
          });
        });
      });
    </script>