<section class="content-main">
    <ol class="breadcrumb">
        <% breadcrumbs.forEach(function(crumb, index) { %>
            <% if (index === breadcrumbs.length - 1) { %>
                <li class="breadcrumb-item active"><%= crumb.name %></li>
            <% } else { %>
                <li class="breadcrumb-item"><a href="<%= crumb.url %>"><%= crumb.name %></a></li>
            <% } %>
        <% }); %>
    </ol>
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Coupon</h2>
        </div>
        <div>
            <a href="/admin/coupon/addCoupon" class="btn btn-primary btn-sm rounded">Add Coupon</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <div class="container mt-5">
                    <h1 class="mb-4">Coupons</h1>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Discount Percentage</th>
                                <th>Minimum Purchase Amount</th>
                                <th>Description</th>
                                <th>Expiration Date</th>
                                <th>Active</th>
                                <th class="text-end">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (coupons && coupons.length > 0) { %>
                                <% coupons.forEach((coupon, index) => { %>
                                    <tr>
                                        <td><%= (current - 1) * perPage + index + 1 %></td>
                                        <td><%= coupon.code.toUpperCase() %></td>
                                        <td><%= coupon.discountPercentage %> %</td>
                                        <td><%= coupon.minPurchaseAmount.toFixed(2) %></td>
                                        <td><%= coupon.description %></td>
                                        <td><%= coupon.expirationDate.toLocaleDateString() %></td>
                                        <td>
                                            <% if (coupon.isActive) { %>
                                                <span class="badge rounded-pill alert-success">Active</span>
                                            <% } else { %>
                                                <span class="badge rounded-pill alert-danger">Expired</span>
                                            <% } %>
                                        </td>
                                        <td class="text-end">
                                            <a href="/admin/coupon/edit/<%= coupon._id %>" class="btn btn-sm btn-brand">Edit</a>
                                            <button class="btn btn-danger btn-sm" onclick="confirmDelete('<%= coupon._id %>')">Delete</button>
                                        </td>
                                    </tr>
                                <% }) %>
                            <% } else { %>
                                <tr>
                                    <td colspan="7" class="text-center">No coupons available.</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
    <% if (coupons.length > 0 && (nextPage || current == pages)) { %>
        <nav aria-label="Dashboard pagination">
            <ul class="pagination justify-content-center mt-5">
                <% if (current == 1) { %>
                    <li class="page-item disabled"><a href="#" class="page-link">First</a></li>
                <% } else { %>
                    <li class="page-item"><a href="/admin/coupon/?page=1" class="page-link">First</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <li class="page-item disabled"><a href="#" class="page-link"><%= i %></a></li>
                    <% } else { %>
                        <li class="page-item"><a href="/admin/coupon?page=<%= i %>" class="page-link"><%= i %></a></li>
                    <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
                <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
                <% } else { %>
                    <li class="page-item"><a href="/admin/coupon/?page=<%= pages %>" class="page-link">Last</a></li>
                <% } %>
            </ul>
        </nav>
    <% } %>
</section>
<script>
    function confirmDelete(couponId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this coupon!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Perform the delete operation
                deleteCoupon(couponId);
            }
        });
    }
    
    function deleteCoupon(couponId) {
        fetch(`/admin/coupon/delete/${couponId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                Swal.fire(
                    'Deleted!',
                    'The coupon has been deleted.',
                    'success'
                ).then(() => {
                    location.reload(); // Reload the page to reflect changes
                });
            } else {
                Swal.fire(
                    'Error!',
                    'There was an error deleting the coupon.',
                    'error'
                );
            }
        })
        .catch(error => {
            console.error('Error deleting coupon:', error);
            Swal.fire(
                'Error!',
                'There was an unexpected error.',
                'error'
            );
        });
    }
    </script>
    